<div class="pageheader ng-scope">
                <h1>Support</h1>
                <div class="breadcrumb-wrapper hidden-xs">
                    <span class="label">You are here:</span>
                    <ol class="breadcrumb">
                        <li class="active">Support</li>
                    </ol>
                </div>
            </div>
            <section id="main-content" class="animated fadeInRight ng-scope">
                <div class="row">
                    <div class="col-md-6">
                        <section class="panel">
                            <div class="panel-body profile-wrapper">
                                <div class="col-md-12">
                                    <div class="profile-info">
                                        <h1></h1>
                                        <span class="text-muted">Technical support</span>
                                        <p>
										   <br>
                                            <a href="http://ivanraster.com/">Ivan Raster software lab</a>
                                            <br>
                                            <a href="mailto:office@ivanraster.com">office@ivanraster.com</a>
                                            <br>
                                            Call +7(812)448-26-99

                                        </p>
                                     
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>